header {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 40% 20%;
    background-color: rgba(101, 196, 196, 0.671);
    width: 100%;
    border: black;
    border-radius: 5px;
    border-style: solid;
}
#logo{
    grid-column: 1/ span 2;
    grid-row: 1/2;
}
#tags{
    display: flex;
    justify-content: space-around; 
    grid-column: 2/span 5;
    grid-row: 2;
}
.page2-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px;
}
h1{
    font-size: 50px;
    font-style: italic;
    font-family: "Brush Script m7, Verdana, sans-serif";
}
#msg1{
    grid-column: 1;
    grid-row: 2;
    font-family: "Lucida Console", "Courier New", monospace;
}
#img2{
    grid-row: 2;
    grid-column: 2;
}
#msg2{
    grid-column: 1;
    grid-row: 3;
    font-family: "Lucida Console", "Courier New", monospace;
}
.img1{
    grid-row: 3;
}
footer{
    background-color: rgba(101, 196, 196, 0.671);
    width: 100%;
    border: black;
    border-radius: 5px;
    border-style: solid;
}